name: Playwright Tests
on:
  push:
    branches:
      - main
jobs:
  playwrighttests:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.56.1-noble
      env:
        ADMIN_USERNAME: ${{ secrets.ADMIN_USERNAME }}
        ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Run tests
        run: |
          echo "Start the shopping store application"
          ./shopping-store-linux-amd64 &
          echo "Install dependencies from lockfile"
          npm ci
          echo "Run playwright tests"
          npm run test:ci
      # - name: Setup Node.js  chmod +x ./shopping-store-linux-amd64
      #   uses: actions/setup-node@v2
      #   with:
      #     node-version: '16'
      # - name: Install dependencies
      #   run: npm install
      # - name: Run Playwright tests
      #   run: npx playwright test --reporter=list
      # - name: Upload Playwright Report
      #   if: always()
      #   run: npx playwright show-report
